.playview-small-quote {
  font-size: clamp(1.2rem, 3.4vw, 1.7rem);
  margin: 0;
  font-style: italic;
}

.frame {
  background: rgb(235, 235, 235);
  position: relative;
  border-radius: 20px;
  color: black;
  padding: 10px;
}

.frame:before {
  content: "";
  position: absolute;
  top: calc(100% - 28px);
  left: 45px;
  height: 50px;
  width: 35px;
  background: linear-gradient(
    120deg,
    transparent 0 50%,
    rgb(235, 235, 235) 50% 100%
  );
  transform: rotate(60deg);
}

.playview-quote,
.playview-procent {
  font-size: clamp(1.2rem, 3.5vw, 1.9rem);
  font-weight: 500;
  margin: 2px 0px 8px 0px;
}
.playview-procent {
  font-family: "Press Start 2P";
  letter-spacing: -0.1em;
  color: rgb(0, 0, 0);
  text-shadow: 0.1em 0.1em 4px rgb(126, 124, 124);
}
