.homeview-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: white;
  line-height: 1em;
  font-size: 2em;
}

.homeview-container {
  display: flex;
  align-items: center;
}

.homeview-image {
  width: 400px;
  height: 280px;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(5deg);
}

.levels {
  margin-bottom: 40px;
  display: flex;
}

.level-box {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  width: 80px;
  height: 80px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  transition: top ease 0.3s;
  font-weight: bold;
}
#level-difficulty-text {
  font-size: 0.5em;
  font-weight: 600;
  font-style: italic;
}

.level-box:hover {
  top: -10px;
  cursor: pointer;
}

.level-box-selected {
  background-color: white;
  color: black;
}

.play-button {
  background-color: rgb(15, 228, 15);
  border-radius: 24px;
  border: none;
  font-size: 2em;
  padding: 10px 40px;
  color: white;
}

.play-button:hover {
  cursor: pointer;
}

.play-text {
  text-shadow: 6px -3px 2px teal, 0 0 20px teal;
}

@media only screen and (max-width: 800px) {
  .homeview-container {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .levels {
    justify-content: space-around;
  }

  .level-box {
    margin-right: 0px;
  }
}
