.background {
  display: flex;

  /* align-items: center; */
  justify-content: center;

  background-color: #282c34;
  min-height: 100vh;

  color: white;
  line-height: 1em;
  font-size: 2em;
}
.image {
  width: 300px;
  height: 200px;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(5deg);
}
.play-button {
  background-color: rgb(15, 228, 15);
  border-radius: 24px;
  border: none;
  font-size: 2em;
  padding: 10px 40px;
  color: white;
}
.play-text {
  text-shadow: 6px -3px 2px teal, 0 0 20px teal;
}
.play-button:hover {
  cursor: pointer;
}
.flex {
  display: flex;

  align-items: center;
}
.levels {
  margin-top: 40px;

  border: 1px solid red;
  display: flex;
  justify-content: space-around;
}
.level-box {
  display: flex;
  width: 80px;
  height: 80px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}
.level-box:hover {
  top: -10px;
  cursor: pointer;
}
