.homeview-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: white;
  line-height: 1em;
  font-size: 2em;
  overflow: hidden;
}

.homeview-container {
  display: flex;
  align-items: center;
}

.play-container {
  margin-left: 0.8em;
}

.homeview-image {
  width: 400px;
  height: 280px;
  -ms-transform: rotate(20deg);
  transform: rotate(5deg);
}

.levels {
  margin-bottom: 40px;
  display: flex;
}

.level-box {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  width: 80px;
  height: 80px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  transition: top ease 0.3s;
  font-weight: bold;
}

.level-box p {
  margin: 0;
}

#level-difficulty-text {
  font-size: 0.5em;
  font-weight: 600;
  font-style: italic;
}

.level-box:hover {
  top: -10px;
  cursor: pointer;
}

.level-box-selected {
  background-color: white;
  color: black;
}

.play-button {
  background: linear-gradient(
    90deg,
    rgba(17, 219, 10, 1) 0%,
    rgb(56, 153, 12) 100%
  );
  border-radius: 24px;
  border: none;
  font-size: 2em;
  padding: 10px 40px;
  color: white;

  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;

  transition: all 400ms;
}

.play-button:hover {
  cursor: pointer;

  box-shadow: rgba(44, 187, 99, 0.35) 0 5px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;

  transform: scale(1.05) rotate(-2deg);

  background: linear-gradient(
    90deg,
    rgba(17, 219, 10, 1) 0%,
    rgb(13, 172, 13, 0.9) 100%
  );
}

.play-button:hover .play-text {
  animation: button-effect 700ms forwards;
}

.play-text {
  text-shadow: 0.1em 0 0.3em rgba(255, 0, 0, 0.75),
    -0.07em -0.07em 0 rgba(1, 187, 1, 0.75),
    0.1em 0.08em 0 rgba(0, 0, 255, 0.75);
  font-family: "Press Start 2P";
  font-size: 0.6em;
}

@keyframes button-effect {
  0% {
    text-shadow: 0.1em 0 0.3em rgba(255, 0, 0, 0.75),
      -0.07em -0.07em 0 rgba(1, 187, 1, 0.75),
      0.1em 0.08em 0 rgba(0, 0, 255, 0.75);
  }

  100% {
    text-shadow: 0.025em 0.05em 0.1em rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(1, 228, 1, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.35);
  }
}

@media only screen and (min-width: 801px) and (max-width: 920px) {
  .line-break {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .homeview-container {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .levels {
    justify-content: space-around;
  }

  .level-box {
    margin-right: 0px;
  }
  .play-container {
    margin-left: 0;
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 420px) {
  .play-container {
    font-size: 0.7em;
  }
  .homeview-image {
    width: 360px;
    height: 252px;
  }
  .level-box {
    margin-right: 0;
  }
}
