.red {
  color: red;
  text-align: center;
}
.arrow {
  width: 3vw;
  height: 3vw;
  border: 1.5vw solid;
  border-color: rgb(1, 1, 68) transparent transparent rgb(44, 0, 80);
  transform: rotate(-45deg);
}
.arrow:hover {
  cursor: pointer;
}
.background2 {
  /* display: flex; */

  /* align-items: center; */
  /* justify-content: center; */

  background-color: #282c34;
  min-height: 100vh;

  color: white;
  line-height: 1em;
  font-size: 2em;
}
/* .box {
  border: 2px solid;
  height: 75vh;
  width: 75vh;
  margin: auto;
} */
/* .flex2{
    display: flex;
  
    align-items: center;
    
    
} */
.playview-container {
  max-width: 700px;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  /* column-gap: 10px; */
  /* row-gap: 10px; */
  grid-gap: 10px;
  position: relative;
}
.vinnar-text {
  position: absolute;
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
  padding-bottom: 0.1em;
  /* grid-row: 2/3; */
  z-index: 2;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(255, 0, 0);

  background: linear-gradient(45deg, rgb(0, 0, 214), rgb(238, 0, 0) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;

  /* transform: rotate(-20deg); */

  /* animation: skew 3s;
  animation-iteration-count: initial;
  transform: skew(20deg);
  animation-direction: alternate;
  opacity: 0.7; */
  animation: zoom 3s infinite;

  animation-direction: alternate;
}

@keyframes zoom {
  0% {
    /* transform: scale(1); */
    transform: rotate(-10deg) scale(1.4);
  }
  100% {
    /* transform: scale(1.5); */
    transform: rotate(-20deg) scale(1);
  }
}

.info-container {
  max-width: 700px;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(200px, auto);
  /* column-gap: 10px; */
  /* row-gap: 10px; */
  grid-gap: 10px;
  margin-top: 20px;
}
